<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>We received a request to reset the password for your account associated with this email address. To initiate the password reset process for your account, click the link below:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">Reset Password</a></p>
    <p>This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{ domain }} and request another reset.</p>
    <p>If you did not make this request, you can simply ignore this email.</p>
    <p>Sincerely,<br>PyLessons</p>
</body>
</html>
